# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
plan.md
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Environments
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
.cursor/
*.swp
.DS_Store 